<%= form_with(model: movie, local: true, multipart: true, data: { turbo: false }) do |f| %>

  <% if movie.errors.any? %>
    <div class="form-errors">
      <strong><%= pluralize(movie.errors.count, "erro") %> impediram salvar:</strong>
      <ul>
        <% movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- TÍTULO -->
  <div class="flex flex-col gap-2 mt-4">
    <%= f.label :title, "Título", class: "text-sm font-semibold text-gray-300" %>
    <%= f.text_field :title,
        class: "w-full bg-gray-800 border border-gray-700 rounded-xl px-4 py-3 text-gray-100",
        required: true %>
  </div>

  <!-- SINOPSE -->
  <div class="mt-4">
    <%= f.label :synopsis, "Sinopse" %>
    <%= f.text_area :synopsis,
        class: "w-full bg-gray-800 border border-gray-700 rounded-xl px-4 py-3 text-gray-100",
        rows: 4 %>
  </div>

  <div class="grid md:grid-cols-3 gap-6 mt-4">
    <div>
      <%= f.label :year, "Ano" %>
      <%= f.number_field :year, min: 1888,
          class: "w-full bg-gray-800 border border-gray-700 rounded-xl px-4 py-3 text-gray-100" %>
    </div>

    <div>
      <%= f.label :duration, "Duração (min)" %>
      <%= f.number_field :duration, min: 1,
          class: "w-full bg-gray-800 border border-gray-700 rounded-xl px-4 py-3 text-gray-100" %>
    </div>

    <div>
      <%= f.label :director, "Diretor" %>
      <%= f.text_field :director,
          class: "w-full bg-gray-800 border border-gray-700 rounded-xl px-4 py-3 text-gray-100" %>
    </div>
  </div>

  <div class="mt-6">
    <%= f.label :category_names, "Categorias (vírgula)" %>
    <%= f.text_field :category_names,
        value: @movie.categories.map(&:name).join(", "),
        class: "w-full bg-gray-800 border border-gray-700 rounded-xl px-4 py-3 text-gray-100" %>
  </div>

  <div class="mt-6">
    <%= f.label :poster, "Poster do Filme" %><br>
    <%= f.file_field :poster,
        class: "mt-1 px-4 py-2 rounded bg-gray-800 text-white border border-gray-700" %>
  </div>

  <div class="flex justify-end mt-10">
    <%= f.submit "Salvar Filme",
        class: "px-6 py-3 bg-yellow-500 hover:bg-yellow-400 text-black font-semibold rounded-lg shadow-md" %>
  </div>

<% end %>
